# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# State files
*.swp

# Environment
.env/*

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# data
data/*
!data/*.zip
